<app-sub-header> Btn Close </app-sub-header>

<div class="px-4 py-2">
  <p class="lead">Use .gi-close</p>
  <h2>Basic .btn-close</h2>
  <button type="button" class="btn-close" aria-label="Close"></button>

  <h2 class="mt-5">Basic .gi-close</h2>
  <i aria-label="Close" class="gi-close"></i>

  <div class="mt-5">
    <h2>Disabled .btn-close</h2>
    <button
      type="button"
      class="btn-close"
      disabled
      aria-label="Close"
    ></button>

    <h2 class="mt-5">Disabled .gi-close</h2>
    <i aria-label="Close" class="gi-close" disabled></i>
  </div>
</div>
