<app-sub-header title="Callout"> Callout</app-sub-header>

<div class="px-4 py-2">
  <div class="kr-callout mb-3">
    <strong>This is a callout.</strong> We built it custom for our docs so our
    messages to you stand out. It has three variants via modifier classes.
  </div>

  <div class="kr-callout kr-callout-info mb-3">
    <strong>This is an info callout.</strong> Example text to show it in action.
  </div>
  <div class="kr-callout kr-callout-warning mb-3">
    <strong>This is a warning callout.</strong> Example text to show it in
    action.
  </div>
  <div class="kr-callout kr-callout-danger">
    <strong>This is a danger callout.</strong> Example text to show it in
    action.
  </div>

  <h2 class="mt-5">Callout Outline</h2>
  <div class="kr-callout-outline kr-callout-outline-primary mb-3 hstack">
    <i class="si-check me-3"></i>
    <div class="me-auto">Informational notification</div>
    <i class="gi-close"></i>
  </div>
  <div class="kr-callout-outline kr-callout-outline-info mb-3 hstack">
    <i class="si-check me-3"></i>
    <div class="me-auto">Informational notification</div>
    <i class="gi-close"></i>
  </div>
  <div class="kr-callout-outline kr-callout-outline-warning mb-3 hstack">
    <i class="si-check me-3"></i>
    <div class="me-auto">Informational notification</div>
    <i class="gi-close"></i>
  </div>
  <div class="kr-callout-outline kr-callout-outline-danger mb-3 hstack">
    <i class="si-check me-3"></i>
    <div class="me-auto">Informational notification</div>
    <i class="gi-close"></i>
  </div>
</div>
