<app-sub-header> Input Groups </app-sub-header>

<div class="px-4 py-2">
  <h2>Basic Input Group</h2>
  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input
      type="text"
      class="form-control"
      aria-label="Amount (to the nearest dollar)"
    />
    <span class="input-group-text">.00</span>
  </div>

  <h2 class="mt-5">Custom File Input</h2>
  <div class="input-group mb-3">
    <input type="file" class="form-control" id="inputGroupFile02" />
    <label class="input-group-text" for="inputGroupFile02">Upload</label>
  </div>
</div>
