<app-sub-header> Material Tree </app-sub-header>

<div class="px-4 py-2">
  <div class="row">
    <div class="col-sm-4 col-lg-3 mb-3">
      <div class="card card-body text-center">
        <a routerLink="nested-tree" class="text-decoration-none">Nested Tree</a>
      </div>
    </div>
    <div class="col-sm-4 col-lg-3 mb-3">
      <div class="card card-body text-center">
        <a routerLink="flat-tree" class="text-decoration-none">Flat Tree</a>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
