<app-sub-header> Skelton </app-sub-header>

<div class="px-4 py-2">
  <h2>Bootstrap Placeholder</h2>
  <div class="w-75">
    <span class="placeholder" style="width: 95%"></span>

    <span class="placeholder col-6"></span>
    <span class="placeholder w-75"></span>
  </div>

  <h2 class="mt-5">Bootstrap Placeholder animation</h2>
  <p class="placeholder-glow">
    <span class="placeholder col-12"></span>
  </p>

  <p class="placeholder-wave">
    <span class="placeholder col-12"></span>
  </p>

  <h2>Custom Skelton</h2>
  <h3>Block Skelton</h3>
  <div class="mb-3 w-50">
    <div class="sa-block mb-2"></div>
    <div class="sa-line mb-2"></div>
    <div class="sa-line"></div>
  </div>

  <h3>Line Skelton</h3>
  <div class="w-50">
    <div class="sa-line mb-2"></div>
    <div class="sa-line w-50 mb-2"></div>
    <div class="sa-line w-25"></div>
  </div>

  <h2 class="mt-5">Centered Skelton</h2>

  <div
    class="border w-50 d-flex align-items-center justify-content-center"
    style="height: 300px"
  >
    <div class="w-50">
      <div class="sa-block mb-2"></div>
      <div class="sa-line mb-2"></div>
      <div class="sa-line"></div>
    </div>
  </div>
</div>
