<h2 class="mb-3">Spacing Utility</h2>

<div class="test bg-info p-1">MY p-1</div>
<div class="test bg-info p-2">MY p-2</div>
<div class="test bg-info p-3">MY p-3</div>
<div class="test bg-info p-4">MY p-4</div>
<div class="test bg-info p-5">MY p-5</div>
<div class="test bg-info p-6">MY p-6</div>
<div class="test bg-info p-7">MY p-7</div>
<div class="test bg-info p-8">MY p-8</div>
<div class="test bg-info p-9">MY p-9</div>
<div class="test bg-info p-10">MY p-10</div>
<div class="test bg-info p-11">MY p-11/div></div>
